# HW Week 1) Human Resources and Candidate Search

***Data Wrangling***

***Professor: Dana Nehora***

***01/21/2021***

***Student: Jiye Lyu***

# Explaination of data source
I get all of the resumes from the following websites. I can make sure to have fictitious names and no two people can have same (nor even similar) resumes submitted.

https://zety.com/resume-examples

https://workalpha.com/resume-samples/

https://365datascience.com/bi-analyst-resume-sample/

https://www.monster.com/career-advice/cover-letter-resume/resume-samples

# The steps made to achieve my result

## Read job description to gather required skills.
**First**: I read the job description that I wrote on my computer and name it as **"job_description.txt"**.

**Second**: I get skill requiremets from it and make the whole line into a sliced list with 9 strings.The name of the new list is **"required_skills"** I know the which line does it locate, so when count=3, I append it on list **"required_skills"**.

In [1]:
job_description_path ="C:\\Users\\61633\\Desktop\\Data_W_HW1\\Resume_files\\Job_description.txt"
count=0
required_skills=[]
with open (job_description_path,"r", encoding='UTF-8') as job_description:
    for line in job_description:
        if count==3:
            required_skills=line
        count+=1
required_skills=required_skills.split(",",9)
print(required_skills)

['Python', 'SQL', 'C++', 'Java', 'design', 'bachelor', 'master', 'Bachelor', 'Master']

## Read csv and clean it up to get candidates' names and resumes' names.

The following "csv" doucment was created before. It contains candidates' names and resumes. names. So I use dataframe function to get name list.

**Firsr** : Read csv doucment.

In [2]:
import pandas as pd
candidates_info=pd.read_csv("C:\\Users\\61633\\Desktop\\Data_W_HW1\\Resume_files\\Candidates.csv",sep=",",encoding='UTF-8')
print(candidates_info)

               header         Unnamed: 1
0              header                NaN
1              header                NaN
2                Name               File
3        Damien Smith       Damien Smith
4           DAN CLARK          DAN CLARK
5     DWIGHT KAVANAGH    DWIGHT KAVANAGH
6        Emily Carter       Emily Carter
7      Molly McKenzie     Molly McKenzie
8         George Dann        George Dann
9         Jacky Smith        Jacky Smith
10   Jimmie D. Brooke   Jimmie D. Brooke
11      KAREN PHILIPS      KAREN PHILIPS
12     Lily Fullerton     Lily Fullerton
13         Malik Rabb         Malik Rabb
14       Phil Roberts       Phil Roberts
15       Sherry Alish       Sherry Alish
16       Sofia Flores       Sofia Flores
17  William Applicant  William Applicant
18              ???we            missing

**Second** : Get rid of first three blank rows and the last error row

In [3]:
candidates_info=pd.read_csv("C:\\Users\\61633\\Desktop\\Data_W_HW1\\Resume_files\\Candidates.csv",sep=",",encoding='UTF-8',skiprows=3,skipfooter=1,engine='python')
print(candidates_info)

                 Name               File
0        Damien Smith       Damien Smith
1           DAN CLARK          DAN CLARK
2     DWIGHT KAVANAGH    DWIGHT KAVANAGH
3        Emily Carter       Emily Carter
4      Molly McKenzie     Molly McKenzie
5         George Dann        George Dann
6         Jacky Smith        Jacky Smith
7    Jimmie D. Brooke   Jimmie D. Brooke
8       KAREN PHILIPS      KAREN PHILIPS
9      Lily Fullerton     Lily Fullerton
10         Malik Rabb         Malik Rabb
11       Phil Roberts       Phil Roberts
12       Sherry Alish       Sherry Alish
13       Sofia Flores       Sofia Flores
14  William Applicant  William Applicant

**Third** : Print the name list

In [4]:
interviewee_names=(candidates_info.Name)
print(interviewee_names)

0          Damien Smith
1             DAN CLARK
2       DWIGHT KAVANAGH
3          Emily Carter
4        Molly McKenzie
5           George Dann
6           Jacky Smith
7      Jimmie D. Brooke
8         KAREN PHILIPS
9        Lily Fullerton
10           Malik Rabb
11         Phil Roberts
12         Sherry Alish
13         Sofia Flores
14    William Applicant
Name: Name, dtype: object

## Build a function to filter useful information in each resume.

### Build the shell of the function

**def** : I make a function called ***simple_interview***. It requires ***resume's path***, ***resumes'names*** and ***required_skills***.To find resumes correctly, I put "path", "\\", "resume_name" and ".txt" together to locate the doucments.

**for loop** : Run every single line in resume.

**if** : I use ***any(each in line for each in required_skills):*** to judge if the words in line appear in the required_skills list. If so, append it on a new list called ***skill***. And if there is no line meet the condition, just pass it.


**Finally**, return skill list and the length of skill list to show whose resume meet the required skills most.

In [5]:
def simple_interview(path,resume_name,required_skills):

    skill=["Information that contain Required skills is showing as the following:"]
    with open (path +"\\"+ resume_name +".txt","r", encoding='UTF-8') as resume:
    
        for line in resume:
            if any(each in line for each in required_skills):
                skill.append(line)

            else:
                pass

    return skill,len(skill)-1

### Define the resume folder's path

In [6]:
path ="C:\\Users\\61633\\Desktop\\Data_W_HW1\\Resume_files"

### Get useful information and candidates' names

Put every candidates into function to get everyone's resume information. And also put candidate's name in a list called **name_list**. Also put candidates'information into a list called **information**. I catch the second item(**information[i][1]**) of the items in information so that I can judge whose resume meets the requirement most.

In [7]:
name_list=[]
information=[]
Times=[]
for i in interviewee_names:
    print(i)
    result=simple_interview(path,i,required_skills)
    print(result,"\n\n")
    name_list.append(i)
    information.append(result)

for i in range(len(interviewee_names)):
    Times.append(information[i][1])
    
print(name_list)

Damien Smith
(['Information that contain Required skills is showing as the following:'], 0)


DAN CLARK
(['Information that contain Required skills is showing as the following:', 'Out the box thinking Softwore Engineer with expertise din Java, T-SQL, and C#. Net and proven\n', 'integration problem- solving tenure of 10 years. Skilled in developing systems architeture, writingrequirement specifictions, and user documentation trolning manuals. Holds ต Masters Degree inComputer Science.\n', 'webinars which resulted in closing deals for the soles teom of more than $500k in value. Received_Sales Solutions Instigotor Award for three years in a row for writing codes to automate salespresentation applictions. Databases: MySQL, 0racle, ccess, SAP\n', 'Software: Microsoft Ofice, Remedy, Microsoft SQL .Server, DB Artison, Eclipse, Vsuol Studio.NET,FrontPoge\n', 'Languages: C#, Java, Visual Basic, ASP, XML, XSL, JWS, SQL, and T·SQL\n', 'Python I\n', 'Javascript\n'], 7)


DWIGHT KAVANAGH
(['Information that contain Required skills is showing as the following:', '      Creating custom SQL queries to extract necessary data\n'], 1)


Emily Carter
(['Information that contain Required skills is showing as the following:', "Highly capable English Teacher with creative instructional demeanor and competence in smartlearning methodologies. A decade of experience teaching elementary grades coupled with aBachelor's Degree in Child Psychology, and certified to teach in any state across the Mid-WestRegion. Very focused on engaging and inspiring students to achieve their ultimate potential.\n"], 1)


Molly McKenzie
(['Information that contain Required skills is showing as the following:'], 0)


George Dann
(['Information that contain Required skills is showing as the following:'], 0)


Jacky Smith
(['Information that contain Required skills is showing as the following:', 'New York University, Master of Business Administration\n'], 1)


Jimmie D. Brooke
(['Information that contain Required skills is showing as the following:', 'Passionate 3D artist with over 5 years of experience in 3D modeling, rigging, and animation. At CreativeMonk Games designed and defined 20 immersive game settings using 3ds Max tools and ensured project integration on a daily basis. The father of the “Professor R.” animated character, responsible for the character rigging and pre-effects processing in Maya.\n'], 1)


KAREN PHILIPS
(['Information that contain Required skills is showing as the following:', 'understanding of modern technologies and best design practices. Experiencedwith WordPress and Drupal. Proven track record of raising UX scores and customerretention.\n', '. Planning site designs, functionality and navigation, along with audience funnels and\n'], 2)


Lily Fullerton
(['Information that contain Required skills is showing as the following:', 'Bachelor of Science in Nursing – Southern Massachusetts University, Boston\n'], 1)


Malik Rabb
(['Information that contain Required skills is showing as the following:', 'Data Scientist with strong math background and 3+ years of experience using predictive modeling, data processing, and data mining algorithms to solve challenging business problems. Involved in Python open source community and passionate about deep reinforcement learning.\n', 'Bachelor of Science in Mathematics\n', 'Transformed raw data into MySQL with custom-made ETL application to prepare unruly data for machine learning\n', 'Used Python and Spark to scrape, clean, and analyze large datasets\n', 'Java, Python, C++, Hadoop ecosystem, and MySQL\n'], 5)


Phil Roberts
(['Information that contain Required skills is showing as the following:'], 0)


Sherry Alish
(['Information that contain Required skills is showing as the following:', 'Creating and efficiently programming software in C++, Java, C, ASP.NET, and SQL\n', 'Respected Software Engineer with 10+ years’ experience programming and debugging software in a variety of languages including C++, Java, ASP.NET, and SQL, seeks position with a top tech firm.\n', 'Proficient in C++, J2EE, XML, Windows Server, Unix, and UML\n', 'Developed company’s current software product using C++ and Java, assisting in design of next release (J2EE); traveling to standard meetings at SNIA SMIS-S to represent Computer Company, and traveling to SNW, a semiannual consumer conference.\n', 'Developed C++ in Unix and Windows Visual Studio, completing project six months early.\n', 'Bachelor of Science (Major: Computer Science; Minor: Management), May 2008\n', 'C++, Java, C, ASP.NET, SQL • MS Visual Studio, Eclipse • JBoss, Tomcat • SQL Server, MySQL\n'], 7)


Sofia Flores
(['Information that contain Required skills is showing as the following:', 'Organized and practical Electrical Engineer with 3+ years of experience in PCB design and testing. Skilled in LabVIEW and FPGA.\n', 'Bachelor of Science in Electrical Engineering\n', 'Work on printed circuit board (PCB) design and layout\n', 'Contributed to design of microprocessor for major project that generated 8% revenue increase after deployment\n', 'Gained experience with both analog and digital circuit design, including VHDL/Verilog and Bluetooth design\n', 'Electrical drafting & circuit design\n', 'C/C++ & LabVIEW'], 7)


William Applicant
(['Information that contain Required skills is showing as the following:', 'Master of Business Administration (Specialization: Marketing) 2018\n', 'Bachelor of Arts in Business (Major: Marketing; Minor: Business), 2017'], 2)


['Damien Smith', 'DAN CLARK', 'DWIGHT KAVANAGH', 'Emily Carter', 'Molly McKenzie', 'George Dann', 'Jacky Smith', 'Jimmie D. Brooke', 'KAREN PHILIPS', 'Lily Fullerton', 'Malik Rabb', 'Phil Roberts', 'Sherry Alish', 'Sofia Flores', 'William Applicant']

In [8]:
print(Times)

[0, 7, 1, 1, 0, 0, 1, 1, 2, 1, 5, 0, 7, 7, 2]

## Build a dataframe called "ToInterview".

**DataFrame**: Now after getting "name_list" and "Times", I build a dataframe to show all of them.

**order**: Then I  arrange them in descending order and show head(n=5).

In [9]:
ToInterview=pd.DataFrame({'Name':name_list,'Skill matching time':Times})

ToInterview=ToInterview.sort_values(by='Skill matching time',ascending=False).head(n=5)
print(ToInterview)

             Name  Skill matching time
1       DAN CLARK                    7
12   Sherry Alish                    7
13   Sofia Flores                    7
10     Malik Rabb                    5
8   KAREN PHILIPS                    2

## Build an CSV document output called "ToInterview".

In [10]:
ToInterview.to_csv("ToInterview.csv",index=False,sep=',')

In [11]:
View=pd.read_csv("ToInterview.csv")
View

            Name  Skill matching time
0      DAN CLARK                    7
1   Sherry Alish                    7
2   Sofia Flores                    7
3     Malik Rabb                    5
4  KAREN PHILIPS                    2

At the end I strongly suggest the "DataData" company hire 

**DAN CLARK**, 

**Sherry Alish**, 

**Sofia Flores**,

**Malik Rabb**，

**KAREN PHILIPS** 

among these 15 candidates to fit the data scientist	position.